.face-gallery {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem;
  flex-wrap: wrap;

  .face-gallery__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;

    .face-gallery__profile-picture {
      border-radius: 50%;
      width: 140px;
      border: 5px solid var(--accent-color);
    }
  }
}
