.floating-dialog {
  --floating-dialog-width: 25rem;
  position: absolute;
  display: table;
  width: var(--floating-dialog-width);
  top: calc(var(--toolbar-height) + 1rem);
  left: calc(50% - (var(--floating-dialog-width) / 2));
  overflow-y: auto;
  transition: top 0.3s ease, left 0.3s ease, box-shadow 0.3s ease-out, width 0.3s ease, height 0.3s ease;
}

#tag-editor {
  height: 14rem;
  min-height: 10rem;
  max-height: calc(100vh - var(--toolbar-height) - 5rem);
  display: flex;
  flex-direction: column;
  overflow: auto;
  resize: vertical;

  // Intended layout behavior:
  // - Input element has a static height
  // - The tag checklist expands or shrinks to fill available space
  // - The applied tags section fits its content up to 3.5 rows of tags

  > input {
    margin: 0.5rem;
    width: auto;
    height: auto;
    min-height: fit-content; // prevents weird slight resize when checklist shrinks when resizing parent
    background: var(--input-color);
  }

  // Checklist of all available tags
  [role='grid'] {
    flex: 1 1 auto;
    border-top: 0.0625rem solid var(--border-color);
    border-bottom: 0.0625rem solid var(--border-color);
    max-width: unset;
    max-height: unset;

    [role='separator'] {
      background: var(--text-color-muted);
      height: 1px;
      margin: 0.5rem 1rem;
    }
  }

  // The tags applied to the selected images
  > div:last-child {
    flex: 0 0 auto;
    margin: 0.5rem;
    min-height: 1.5rem; // 1 row of tags
    max-height: calc(1.5rem * 9.5); // 3.5 rows of tags edit: 9
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.tag-option-hint {
  margin-inline-start: 1rem;
  color: var(--text-color-muted);
  font-size: smaller;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
