#tag-editor {
  height: 14rem;
  min-height: 10rem;
  max-height: calc(100vh - var(--toolbar-height) - 5rem);
  display: flex;
  flex-direction: column;
  overflow: auto;
  resize: vertical;

  // Intended layout behavior:
  // - Input element has a static height
  // - The tag checklist expands or shrinks to fill available space
  // - The applied tags section fits its content up to 3.5 rows of tags

  > input {
    margin: 0.5rem;
    width: auto;
    height: auto;
    min-height: fit-content; // prevents weird slight resize when checklist shrinks when resizing parent
    background: var(--input-color);
  }

  // Checklist of all available tags
  [role='grid'] {
    flex: 1 1 auto;
    border-top: 0.0625rem solid var(--border-color);
    max-width: unset;
    max-height: unset;

    [role='separator'] {
      background: var(--text-color-muted);
      height: 1px;
      margin: 0.5rem 1rem;
      width: -webkit-fill-available;
    }
  }

  .virtualized-grid {
    flex: 1 1 auto;
    padding-top: unset;
    padding-bottom: unset;
  }

  // The tags applied to the selected images
  > div:last-child {
    flex: 0 0 auto;
    overflow: hidden;
    height: calc(1.5rem * 3.5); // 3.5 rows of tags
    //Allow resizing and move the resize handle to the top of the div
    resize: vertical;
    transform: scaleY(-1);
    //Important to avoid the main resize handler to overlap with this resize handler
    min-height: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem; // Is bottom because the div is inverted, so it will appear on the top
    border-bottom: 0.0625rem solid var(--border-color); // bottom bc the same

    > * {
      transform: scaleY(-1);
      padding: 0 0.5rem 0 0.5rem;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}

.tag-option-hint {
  margin-inline-start: 1rem;
  color: var(--text-color-muted);
  font-size: smaller;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
