//Custom Style fot the #file-editor-panel floating panel
#file-editors-panel {
  .floating-panel[data-docked='false'] {
    transform: translate(
      calc(50vw + var(--window-splitter-primary-size, 0) * 0.5 - 50%), 
      calc(var(--toolbar-height) + 1rem)
    );

    .horizontal-measure-inline-hidden {
      max-width: calc((100vw - var(--window-splitter-primary-size, 0)) * 0.8);
    }
  }
  .horizontal-measure-inline-hidden {
    max-width: var(--window-splitter-primary-size, 0);
    transition: all 0.5s ease;
  }
}


.floating-panel {
  position: relative;
  display: block;
  width: unset;
  height: unset;
  top: unset;
  left: unset;
  transform: unset;
  transition: all 0.5s ease, border 0s;

  &[data-docked='false'] {
    position: fixed;
    display: table;
    width: 25rem;
    top: 0px;
    left: 0px;
    transform: translate(
      calc(50vw - 50%), 
      calc(var(--toolbar-height, 0) + 1rem)
    );
  }

  &[data-docked='true'] {
    height: 100%;
    width: 100%;
    outline: 0.0625rem solid var(--border-color);
    border-radius: unset;
    border: unset;
    box-shadow: unset;
    transition: transform 0s;
  }

  &[data-open="true"] {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
      animation-name: none;
      z-index: 10;
    }

    &[data-docked='true'][data-animate-flash='true']::after {
      animation: flash-panel-inset 0.9s ease-out;
    }

    &[data-docked='false'][data-animate-flash='true']::after {
      animation: flash-panel 0.9s ease-out;
    }
  }

  &[data-open="false"] {
    display: none;
  }

  header {
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1rem;
    background: var(--background-color);
    outline: 0.0625rem solid var(--border-color);

    h2 {
      cursor: pointer;
      flex-grow: 1;
    }

    [role='toolbar'] {
      opacity: 0;
    }

    [role='toolbar']:focus-within {
      opacity: 1;
    }

    .toolbar-floating-switch-side-button {
      min-height: 1.5rem;
      min-width: 1.5rem;

      &[aria-pressed='true'],
      &[aria-checked='true'] {
        color: var(--accent-color);
      }
    }

    .floating-switch-side-button {
      opacity: 0;
    }
  }

  &:hover .floating-switch-side-button {
    opacity: 1;
  }
}

.floating-switch-side-button {
  margin-left: auto;
  .custom-icon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

@keyframes flash-panel {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 15px 5px var(--accent-color);
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes flash-panel-inset {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  50% {
    box-shadow: inset 0 0 15px 2px var(--accent-color);
  }
  100% {
    box-shadow: inset 0 0 0 0 transparent;
  }
}